<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles.css">
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <head>
      <div class="jumbotron">
    <meta charset="utf-8">
    <title>Feedback</title>
  </head>
  <body>
    <h1>Feed me feedback</h1>
    <form class="" action="/feedback" method="post">
        <input type="text" name="name" placeholder="Enter your name here.." value="">
        <br>
        <textarea id="comment" name="comment" rows="4" cols="50" placeholder="gib comment"></textarea>
        <input type="submit" value="submit">
         </form>
         <table>
         <% for(var i=0; i < comments.length; i++) { %>
            <tr>
              <td><%= comments[i].name %></td>
              <td><%= comments[i].comment %></td>
            </tr>
         <% } %>
         </table>
</body>
<footer>
  <%- include('../partials/footer'); %>
</footer>

</html>
