<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Michaelsoft is a professional orginization</h1>
    <p>Welcomne to Michaelsoft! Every day we strive to create more product and put more of our product in your hands!</p>

    <h2>Variable</h2>
    <p><%= tagline %></p>

    <ul>
      <% mascots.forEach(function(mascot) { %>
        <li>
          <strong><%= mascot.name %></strong>
          representing <%= mascot.organization %>,
          born <%= mascot.birth_year %>
        </li>
      <% }); %>
    </ul>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
