<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles.css"> <!--- under static folder --->
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron"> <!--- I don't know how. I don't know why. This throws a hissy fit if you don't restart the computer and then run new code --->
    <h2><%= name %></h2><!--- at least when you add new variables --->
    <p><%= line1 %></p><!--- these variables are found in team endpoints (/trey, /leniece, etc) --->
    <p><%= line2 %></p>
    <p><%= line3 %></p>
</body>

</body>
</html>
